<!DOCTYPE html>
<html>
	<head>
		<title>Angular News Board</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.2/angular-ui-router.js"></script>
		<link href="/stylesheets/css/bootstrap.min.css" rel="stylesheet">
		<link href="/stylesheets/css/app.css" rel="stylesheet">
	</head>
	<body ng-app="newsBoard">
		<nav class="navbar navbar-default" ng-controller="NavCtrl">
			<div class="container-fluid">
			    <div class="navbar-header">
			      	<a class="navbar-brand" href="#/home">{{$root.header}}</a>
			    </div>
				<ul class="nav navbar-nav">
					<li ng-show="isLoggedIn()"><a>{{currentUser()}}</a></li>
					<li ng-show="isLoggedIn()"><a href="" ng-click="logOut()">Log Out</a></li>
					<li ng-hide="isLoggedIn()"><a href="/#/login">Log In</a></li>
					<li ng-hide="isLoggedIn()"><a href="/#/register">Register</a></li>
				</ul>
			</div>
		</nav>
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<ui-view></ui-view>
				</div>
			</div>
		</div>
		<script src="/javascript/app.js"></script>
		<script src="/javascript/controllers/main.js"></script>
		<script src="/javascript/controllers/nav.js"></script>
		<script src="/javascript/controllers/auth.js"></script>
		<script src="/javascript/controllers/posts.js"></script>
		<script src="/javascript/directives/modal/modal.js"></script>
		<script src="/javascript/plugins/masonry.pkgd.min.js"></script>
	</body>
</html>