/* Navbar */

.navbar-header {
	float: left;
}

.nav {
	float: right;
}

.nav li {
	display: inline-block;
}

body .navbar {
	border-radius: 0;
}

/* Post Header */

.post-name {
	font-size: 20px;
	margin-left: 10px;
}

.post-form {
	margin-top: 30px;
}

.glyphicon-thumbs-up, .glyphicon-thumbs-down {
	cursor: pointer;
}

/* Modal */

.fade.show {
	opacity: 1;
}

.modal {
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	overflow: visible;
}

.modal-title {
	display: inline-block;
}

.modal-body {
	min-height: 150px;
}